.vscode/
node_modules/
server/node_modules/
node_modules/client/google-chrome-stable_current_amd64.deb
client/google-chrome-stable_current_amd64.deb
client/google-chrome-stable_current_amd64.deb
client/google-chrome-stable_current_amd64.deb
.env